#main{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 15vh;
    margin-left: 80vh;
    background-color: black;
    padding: 20px 20px 20px 20px ;
    border-radius: 10px;
}

button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-left: 20px;
    width: 60px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}

button:hover{
    background-color: #bbb4b4;
}

#inputBar{
    height: 40px;
    width: 200px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
    text-align: right;
}
